---
layout: home

---

<style>
    body {
        /* font-family: Helvetica, Arial, sans-serif; */
        /* font-family: 'Josefin Sans', sans-serif; */
        font-family: 'Lora', serif;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        background-color: #fdfdfd;
    }

    li {
        color: #2c3e50;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
        letter-spacing: 1px;
    }

    tab {
        padding-left: 5em
    }
</style>

<div class="view_year styled">
    <ol>
        {% assign sorted_pages = site.slide  | sort:"order"   %}
        {% for post in sorted_pages %}
        {% if post.hidden != true %}
        <li>
            <div class="materials-item">
                <div class="tt">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    {% if post.link and post.linkTitle %}
                    <tab />
                    <a href="{{ post.link }}">{{ post.linkTitle }}</a>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ol>
</div>
</div>
</div>